<div class="container feed">

    <div class="row flex">
        <div class="col-md-8 col-sm-8 col-xs-12 public-feed">
            <div class="row flex">
                <div infinite-scroll="loadPublicItems()" infinite-scroll-disabled="busy || total == publicItems.length" infinite-scroll-distance="1">
                    <div ng-repeat="item in publicItems" class="card">
                        <div class="row">
                            <div class="col-md-1 col-sm-1 col-xs-1">
                                <div class="icon"><i class="fa fa-user fa-3x" aria-hidden="true"></i></div>
                            </div>
                            <div class="col-md-11 col-sm-11 col-xs-11">
                                <div class="user">{{item.fullname ? item.fullname : 'User_' + item.userId}}</div>
                                <div class="time">{{item.timestamp | timeAgo}}</div>
                            </div>
                        </div>
                        <div class="post">
                            <span class="text">{{item.title}}</span>
                            <span><a ng-href="{{'/' + item.shortUrl}}" target="_blank" >{{url + item.shortUrl}}</a></span>
                        </div>

                        <div class="row sub-card" ng-click="toUrl(item.shortUrl)">
                            <div class="col-sm-12 col-md-12">
                                <div class="thumbnail">
                                    <img ng-src="{{item.image}}" ng-alt="{{item.title}}"/>
                                    <div class="caption">
                                        <div class="title">{{item.title}}</div>
                                        <div class="description">{{item.description}}</div>
                                        <div class="root-url"><a ng-href="{{item.rootUrl}}">{{item.rootUrl}}</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row control-panel">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <span class="like-group">
                                    <span class="not-liked" ng-hide="item.hasLiked">
                                        <a href="" ng-click="like(item)">
                                            <i class="fa fa-thumbs-o-up fa-2x" aria-hidden="true"></i> {{item.numOfLikes}}
                                        </a>
                                    </span>
                                    <span class="liked" ng-show="item.hasLiked">
                                        <a href="" ng-click="unlike(item)">
                                            <i class="fa fa-thumbs-o-up fa-2x" aria-hidden="true"></i> {{item.numOfLikes}}
                                        </a>
                                    </span>
                                </span>
                                <span>
                                    <a ng-click="toggleComments(item)" href=""><i class="fa fa-comment fa-2x" aria-hidden="true"></i> {{item.numOfComments}}</a>
                                </span>
                                <span><a ng-href="{{'/#/urls/' + item.shortUrl}}"><i class="fa fa-bar-chart fa-2x" aria-hidden="true"></i></a></span>
                                <span share-buttons data-long-url="{{item.longUrl}}" data-short-url-to-show="{{item.fullShortUrl}}" class="share-buttons"></span>
                                <span ng-if="item.isDeletable">
                                    <a ng-click="removePost(item)" href=""><i class="fa fa-trash fa-2x" aria-hidden="true"></i></a>
                                </span>
                            </div>
                        </div>

                        <div class="row comments" ng-show="item.displayComments">
                            <div class="comment-box">
                                <form ng-submit="addComment(item)">
                                    <input placeholder="Write a comment..." type="text" class="form-control" name="newComment" ng-model="item.newComment" />
                                </form>
                            </div>
                            <div class="comment-container">
                                <div ng-repeat="comment in item.comments" class="comment">
                                    <!--<div class="col-md-1 col-sm-1 col-xs-1">-->
                                        <!--<div class="icon"><i class="fa fa-user fa-2x" aria-hidden="true"></i></div>-->
                                    <!--</div>-->
                                    <div>
                                        <div>
                                            <span class="user">{{comment.fullname ? comment.fullname : 'User_' + comment.userId}}</span>
                                            <span class="mesasge">{{comment.message}}</span>
                                            <span class="remove" ng-if="comment.isDeletable"><a href="" ng-click="removeComment(item, comment)"><i class="fa fa-remove" aria-hidden="true"></i></a></span>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="time">
                                            <span>{{comment.timestamp | timeAgo}}</span>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="busy">Loading feed...</div>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-4 private-feed">
            <div class="card">
                <div class="header">Your Private URLs</div>
                <div class="list-group">
                    <div ng-repeat="item in privateItems" class="list-group-item">
                        <a ng-href="{{item.shortUrl}}" target="_blank">
                            <p class="list-group-item-heading">{{item.title}}</p>
                        </a>
                        <span class="list-group-short-url">{{item.fullShortUrl}}</span> <span><a ng-href="{{'/#/urls/' + item.shortUrl}}"><i class="fa fa-bar-chart" aria-hidden="true"></i></a></span> <span ng-if="item.isDeletable"><a ng-click="removePost(item)" href=""><i class="fa fa-trash" aria-hidden="true"></i></a></span>
                        <p class="list-group-item-text">{{item.description}}</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="header">Your Public URLs</div>
                <div class="list-group">
                    <div ng-repeat="item in yourPublicItems" class="list-group-item">
                        <a ng-href="{{item.shortUrl}}" target="_blank">
                            <p class="list-group-item-heading">{{item.title}}</p>
                        </a>
                        <span class="list-group-short-url">{{item.fullShortUrl}}</span> <span><a ng-href="{{'/#/urls/' + item.shortUrl}}"><i class="fa fa-bar-chart" aria-hidden="true"></i></a></span> <span ng-if="item.isDeletable"><a ng-click="removePost(item)" href=""><i class="fa fa-trash" aria-hidden="true"></i></a></span>
                        <p class="list-group-item-text">{{item.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>