.center-form {
  margin: 5% auto;
  width: 315px;
}

.feed {
  margin: 0 auto;
  max-width: 1015px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.fa-2x {
  font-size: 1.4em;
}

.card {
  background-color: #fff;
  border: #eee solid 1px;
  border-radius: 3px;
  margin-bottom: 20px;
  padding: 15px 25px;
}

.public-feed .card .icon {
  color: #a9a9a9;
}

.public-feed .card .user {
  color: #3658bb;
  font-weight: bold;
}

.public-feed .card .remove {
  float: right;
}

.public-feed .card .time {
  color: #a9a9a9;
}

.public-feed .card .post {
  margin-top: 15px;
  margin-bottom: 15px;
}

.public-feed .sub-card .thumbnail {
  background-color: #fff;
  border: #eee solid 1px;
  border-radius: 3px;
  cursor: pointer;
  margin: 0 auto;
  max-width: 715px;
  padding: 0;
}

.public-feed .sub-card .thumbnail .caption {
  padding: 15px;
}

.public-feed .sub-card .thumbnail .title {
  font-size: 1.4em;
  margin-bottom: 10px;
}

.public-feed .sub-card .thumbnail .root-url {
  margin-top: 20px;
  text-transform: uppercase;
  font-size: .8em;
}

.public-feed .sub-card .thumbnail .root-url a {
  color: #a3a6ad;
}

.public-feed .control-panel {
  margin-top: 20px;
}

.public-feed .control-panel > div > span {
  margin-right: 20px;
}

.public-feed .control-panel span a:link,
.public-feed .control-panel span a:visited {
  color: #777;
}

.public-feed .control-panel span a:hover,
.public-feed .control-panel .liked a:link,
.public-feed .control-panel .liked a:visited {
  color: #d92927;
}

.public-feed .comments {
  background-color: #fff;
  border-radius: 3px;
  margin: 0 auto;
  margin-top: 10px;
  max-width: 715px;
  padding: 0;
}

.public-feed .comments .comment-box {
  margin-top: 12px;
}

.public-feed .comments .comment {
  margin-top: 12px;
  padding: 0 15px;
}

.private-feed .card .header {
  color: #3658bb;
  font-weight: bold;
  margin-bottom: 20px;
}

.list-group .list-group-item {
  border-bottom-width: 0;
  border-left-width: 0;
  border-radius: 0;
  border-right-width: 0;
}

.private-feed .card .list-group-short-url {
  color: #e8e9ea;
}

.animate-show,
.animate-hide {
  -moz-transition: all linear .5s;
  -ms-transition: all linear .5s;
  -o-transition: all linear .5s;
  -webkit-transition: all linear .5s;
  transition: all linear .5s;
}

.animate-show.ng-hide-remove,
.animate-hide.ng-hide-add.ng-hide-add-active {
  opacity: 0;
}

.animate-hide.ng-hide-add,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}

.short-url-text {
  font-size: 1.3em;
  margin-right: 10px;
}

